<h1>All Articles</h1>

<ul id = "articlesAll">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      <%= article.updated_at %>
    </li>
  <% end %>
</ul>